<div class="container-fluid my-3">
  <h2>イベント一覧</h2>
  <%= link_to "企画する", new_event_path, class:"btn btn-primary" %>
</div>

<div class="container-fluid">
  <% @events.each do |event| %>
    <div class="card my-3 bg-light my-3" style="width:25rem;">
  <div class="card-body">
        <h4 class="card-title"><%= event.name%></h4>
        <h6 class="card-subtitle mb-2 text-muted"><%= event.description %></h6>

    <table class="event-table">
      <tbody>
        <tr>
          <th class="detail-item">場所</th>
          <td class="detail-value"><%= event.location %></td>
        </tr>
        <tr>
          <th class="detail-item">ジャンル</th>
          <td class="detail-value"><%= event.genre.name %></td>
        </tr>
        <tr>
          <th class="detail-item">日にち</th>
          <td class="detail-value"><%= event.date %></td>
        </tr>
        <tr>
          <th class="detail-item">説明</th>
          <td class="detail-value"></td>
        </tr>

        <tr>
          <th>Chat rooms</th>
          <td><%= link_to 'チャットルームへ', rooms_path(event) , class:"btn btn-primary btn-sm mx-1" %></td>
        </tr>

        <tr>
          <th class="detail-item">開催者</th>
          <td class="detail-value">
          <% @userevents.each do |userevent| %>
            <% if userevent.event_id == event.id %>
              <%= userevent.user.nickname %>
            <% end %>
          <% end %>
          </td>
        </tr>

        <tr>
          <th class="detail-item">New task and all tasks</th>
          <td>
          <%# タスク作成とタスク一覧 %>
          <% if user_signed_in? %>
              <% @userevents.each do |userevent| %>
                <% if userevent.event_id == event.id && userevent.user_id == current_user.id %>
                  <%= link_to 'タスク作成', new_event_task_path(event), class:"btn btn-primary btn-sm mx-1" %>
                  <% if event.tasks.length > 0 %>
                    <%= link_to 'タスク一覧', event_tasks_path(event), class:"btn btn-primary btn-sm mx-1" %>
                  <% end %>
              <% end %>
              <% end %>


          </td>
        </tr>
      </tbody>
    </table>
      <% end %>

  </div>

</div>
 <% end %>

